@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
  